{% extends 'main/layout.html' %}


{% block title %}Обо мне{% endblock %}

{% block content %}
    <div class="features">
        <h1>Обо мне </h1>
        <p>Привет! Меня зовут Ахметшин Раиль Ринатович. Мне 26 лет, работаю ведущим специалистом в нефтегазовой компании.
        В свободное время самостоятельно изучаю язык программирования Python и смежные технологии.
        Хочу работать на стыке IT технологий и нефтегазовой отрасли, чтобы использовать весь свой практический опыт для эффективного внедрения новых технологий</p>
        <button class="btn btn-danger">Просто кнопка</button>
    </div>
{% endblock %}
